<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cloudcreativity.wankeshop">

    <!-- 权限开始配置 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 权限配置结束 -->
    <application
        android:name=".base.BaseApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- 配置Glide加载图片的关联module -->
        <meta-data
            android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule"
            android:value="GlideModule" />
        <meta-data
            android:name="com.cloudcreativity.wankeshop.utils.GlideModuleConfig"
            android:value="GlideModule" />
        <!-- Glide配置结束 -->


        <!-- Activity注册 -->
        <activity android:name=".IndexActivity" android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.MainActivity"/>
        <activity android:name=".loginAndRegister.LoginActivity" />
        <activity android:name=".loginAndRegister.RegisterActivity" />
        <activity android:name=".loginAndRegister.ForgetActivity" />

        <!-- Activity配置结束 -->
    </application>

</manifest>