<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cloudcreativity.wankeshop">

    <!-- 权限开始配置 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /><!--获取网络状态-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /><!--读存储设备-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /><!--写存储设备-->
    <uses-permission android:name="android.permission.INTERNET" /><!--互联网-->
    <uses-permission android:name="android.permission.CAMERA" /><!--相机-->
    <uses-permission android:name="android.permission.READ_CONTACTS" /><!--读取联系人-->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 自动聚焦权限 -->
    <uses-permission android:name="android.permission.FLASHLIGHT"/><!--闪光灯-->
    <uses-permission android:name="android.permission.CALL_PHONE" /><!--拨打电话-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /><!--获取wifi状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /><!--读取设备状态-->


    <!-- 权限配置结束 -->
    <application
        android:name=".base.BaseApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:fullBackupContent="true">

        <!-- 配置Glide加载图片的关联module -->
        <!--<meta-data
            android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule"
            android:value="GlideModule" />-->
        <meta-data
            android:name="com.cloudcreativity.wankeshop.utils.GlideModuleConfig"
            android:value="GlideModule" />
        <!-- Glide配置结束 -->


        <!-- Activity注册 -->
        <activity android:name="com.google.zxing.activity.CaptureActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:name=".utils.ScanResultActivity"/>
        <activity android:name=".IndexActivity" android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.MainActivity" android:windowSoftInputMode="adjustPan" android:launchMode="singleTask"/>

        <activity android:name=".loginAndRegister.LoginActivity" />
        <activity android:name=".loginAndRegister.RegisterActivity" />
        <activity android:name=".loginAndRegister.ForgetActivity" />
        <activity android:name=".userCenter.UserInformationActivity" />
        <activity android:name=".userCenter.SettingActivity" />
        <activity android:name=".userCenter.AboutActivity" />
        <activity android:name=".userCenter.PerfectUserInfoActivity" />
        <activity android:name=".userCenter.ModifyMobileActivity" />
        <activity android:name=".userCenter.AddressManageActivity" />
        <activity android:name=".userCenter.address.AddressChooseActivity"/>
        <activity android:name=".userCenter.address.AddAddressActivity"  />
        <activity android:name=".userCenter.address.EditAddressActivity" />
        <activity android:name=".money.MoneyRecordsActivity" />
        <activity android:name=".collect.GoodsCollectActivity" />
        <activity android:name=".collect.ShopCollectActivity" />
        <activity android:name=".userCenter.logistics.ApplyToLogistics2Activity" />

    <!--这是微信回掉页面-->
        <activity android:name=".wxapi.WXEntryActivity"
            android:launchMode="singleTop"
            android:exported="true"
            android:theme="@style/WXActivityTheme"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

    <!--这是微信支付回掉页面-->
        <activity android:name=".wxapi.WXPayEntryActivity"
            android:launchMode="singleTop"
            android:exported="true"
            android:theme="@style/WXActivityTheme"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <activity android:name=".loginAndRegister.wxLogin.WxLoginBindMobileActivity" />
        <activity android:name=".loginAndRegister.wxLogin.WxLoginRegisterActivity" />
        <activity android:name=".base.CommonWebActivity" />
        <activity android:name=".goods.GoodsListActivity" />
        <activity android:name=".shop.ShopListActivity" />
        <activity android:name=".goods.GoodsListForBannerActivity" />
        <activity android:name=".goods.GoodsDetailActivity" android:launchMode="singleTop" android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>
        <activity android:name=".goods.ChooseReceiveAddressActivity" />
        <activity android:name=".order.FillOrderActivity" />

        <!--支付订单页面-->
        <activity android:name=".order.PayOrderActivity" android:screenOrientation="portrait" android:exported="true" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="wx93fee6f47dbda966"/>
            </intent-filter>
        </activity>

        <activity android:name=".goods.ShoppingCarActivity" android:launchMode="singleTask"/>
        <activity android:name=".order.AllOrderActivity" android:launchMode="singleTask"/>
        <activity android:name=".shop.ShopGoodsListActivity" android:theme="@style/TranslucentTheme" android:launchMode="singleTask">
        </activity>
        <activity android:name=".order.OrderDetailActivity" />
        <activity android:name=".userCenter.BindWeChatActivity" />
        <activity android:name=".userCenter.UnBindWeChatActivity" />
        <activity android:name=".money.ApplyWithDrawActivity" />


        <!--alipay activity-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity android:name=".base.PaySuccessActivity" />


        <!-- Activity配置结束 -->


        <!--File provider-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.hansion.chosehead"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filespath" />
        </provider>
    </application>

</manifest>